@use "../shared/shared";

.currentWeather-wrapper {
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    padding: 0 shared.$padding;

    .forecast-wrapper {
        height: inherit;
    }
}