@use "../shared/shared";

.currentWeather-wrapper {
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    padding: 0 shared.$padding;

    @include shared.phones {
        flex-direction: column;
    }

    .forecast-wrapper {
        height: inherit;
    }
}