.weather-indicator {
    width: 95%;
    height: 3px;
    background: rgb(110,27,222);
    background: linear-gradient(90deg, rgba(110,27,222,1) 10%, rgba(240,208,36,1) 30%, rgba(249,138,6,1) 50%, rgba(240,208,36,1) 70%, rgba(110,27,222,1) 90%);
    margin: 3rem auto;
    border-radius: 10px;

    transition: all 0.3s ease-in;

    position: relative;
}