.loc-wrapper {
    width: 25vw;

    .loc-basic {
        display: flex;
        gap: 1rem;
    
        // border: 1px solid white;
        padding: 2rem;
    }
    
    .loc-details {
        padding: 2rem;
        // border: 2px solid white;
    }
}
