@use "../shared/shared";

.loc-wrapper {
    width: 25vw;

    @include shared.phones {
        width: 100vw;
    }

    .loc-basic {
        display: flex;
        gap: 1rem;
        
        .loc-data {
            width: 25%;
            
        }

        .portrait {
            width: 40%;
        };
        // border: 1px solid white;
    }
}
