@use "../shared/shared";

.status-wrapper {
    position: relative;
    width: 25vw;
    margin: 2rem 0;

    transition: opacity 0.5s ease-in;
    opacity: 0;

    &.shown {
        opacity: 1;
    }

    @include shared.phones {
        height: 7.5rem;
    }

    @include shared.tablets{
        width: 50%;
    }

    &:hover {
        .icon-1 {
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }

        .icon-2 {
            animation: animation2 1.5s infinite linear;
        }

        .icon-3 {
            animation: animation3 1.5s infinite linear;
        }

        .icon-4 {
            animation: animation2 1.5s infinite linear;
        }
    }
    // border: 1px solid white;

    .icon-1, .icon-2, .icon-3, .icon-4 {
        position: absolute;
        transform: translate(-50%, -50%)
    }

    .icon-1 {
        left: 50%;
        z-index: 0;
    };

    .icon-2 {
        top: 30%;
        left: 42%;
        z-index: 1;
    }

    .icon-3 {
        top: 30%;
        left: 55%;
        z-index: 1;
    }


    .forecast-status {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.3s ease-in;
        opacity: 0.5;

        &:hover {
            font-size: 1.5rem;
            opacity: 1;
        }

        @include shared.phones {
            top: 100%;
        }


    }


};

@keyframes animation1-a {
    0% {
        top: 20%;
    }

    25% {
        top: 15%;
    }

    50% {
        top: 20%;
    }

    75% {
        top: 25%;
    }

    100% {
        top: 20%;
    }
}

@keyframes animation1-b {
    0% {
        top: 50%;
    }

    25% {
        top: 55%;
    }

    50% {
        top: 50%;
    }

    75% {
        top: 45%;
    }

    100% {
        top: 50%;
    }
}

@keyframes animation2 {
    0% {
        left: 45%
    }

    25% {
        left: 40%;
    }

    50% {
        left: 45%;
    }

    75% {
        left: 50%;
    }

    100% {
        left: 45%;
    }
}

@keyframes animation3 {
    0% {
        left: 55%
    }

    25% {
        left: 60%;
    }

    50% {
        left: 55%;
    }

    75% {
        left: 50%;
    }

    100% {
        left: 55%;
    }
}