@use "../shared/shared";

.forecast-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 50vw;
    z-index: 2;
    position: relative;
    margin: 2rem 0;

    opacity: 0;
    transform: translateX(10rem);
    transition: all 0.3s ease-in;

    &.shown {
        opacity: 1;
        transform: translateX(0rem);
    }

    @include shared.phones {
        width: 100vw;
    }

    @include shared.tablets {
        width: 100vw;
    }

    .columns {
        display: flex;
        align-items: center;
        
        &.goesToRight {
            position: relative;
            transform: translateX(200%);
            transition: transform 0.2s ease-in;
        };

        &.comesFromLeft {
            position: relative;
            left: -100rem;
            transform: translateX(100rem);
            transition: transform 0.2s ease-in-out;
        }

        &.goesToLeft {
            position: relative;
            transform: translateX(-200%);
            transition: transform 0.2s ease-in;
        };

        &.comesFromRight {
            position: relative;
            left: 100rem;
            transform: translateX(-100rem);
            transition: transform 0.2s ease-in-out;

            // @include shared.phones {
            //     transform: translateX(-285%)
            // }
        }

        // &.goesToRight {
        //     translate: 800px;
        // }
    };

    .status-wrapper {
        border: none;
        
    }

    .arrow-left, .arrow-right {
        position: absolute;
        z-index: 3;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: opacity 0.15s linear;
        top: 50%;

        @include shared.phones {
            transform: none;
            top: 0;
        }

        @include shared.tablets {
            transform: none;
            top: 0;
        }

        svg {
            z-index: -1;
            path {
                z-index: -1;
            }
        }

        &:hover {
            opacity: 0.75;
        };

        &:active {
            opacity: 1;
        }
    };

    .arrow-left {
        left: 0%;
    }

    .arrow-right {
        right: 0;
    }

}