.forecast-wrapper {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 50vw;
    z-index: 2;
    gap: 2rem;
    position: relative;

    .columns {
        display: flex;
        align-items: center;
        
        &.goesToRight {
            position: relative;
            transform: translateX(200%);
            transition: transform 0.2s ease-in;
        };

        &.comesFromLeft {
            position: relative;
            left: -250%;
            transform: translateX(300%);
            transition: transform 0.2s ease-in-out;
        }

        &.goesToLeft {
            position: relative;
            transform: translateX(-200%);
            transition: transform 0.2s ease-in;
        };

        &.comesFromRight {
            position: relative;
            left: 250%;
            transform: translateX(-300%);
            transition: transform 0.2s ease-in-out;
        }

        // &.goesToRight {
        //     translate: 800px;
        // }
    };

    .status-wrapper {
        border: none;
        
    }

    .arrow-left, .arrow-right {
        position: absolute;
        z-index: 3;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: opacity 0.15s linear;

        svg {
            z-index: -1;
            path {
                z-index: -1;
            }
        }

        &:hover {
            opacity: 0.75;
        };

        &:active {
            opacity: 1;
        }
    };

    .arrow-left {
        top: 50%;
        left: 0%;
    }

    .arrow-right {
        top: 50%;
        right: 0;
    }

}