@use "../shared/shared";

.logo-wrapper {
    transform: translateX(-20rem);
    opacity: 0;
    transition: all 0.5s ease-in;

    &.show {
        transform: translateX(0rem);
        opacity: 1;
    }

    @include shared.phones {
        text-align: center;
        margin: 1rem 0;
    }

    h2 {
        font-size: 2.2rem;
        font-weight: bold;
        background: linear-gradient(90deg, rgba(24,5,184,1) 10%, rgba(126,129,184,1) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 1.2rem;
    }
}
