@use "../shared/shared";

.column-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 22rem;

    p {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        letter-spacing: 0.2rem;

        @include shared.phones {
            font-size: 0.3rem;
        }
    }

    &:hover {
        .status-wrapper {
            opacity: 1;
            height: 5rem;

            .icon-1 {
                top: 75%
            }
        }
    }

    .status-wrapper {
        opacity: 0;
        height: 0;
        margin: 0;
        transition: all 0.2s ease-in;
    }

}

.column {
    background-color: green;
    margin: 0 1rem;
    width: 5rem;
    border-radius: 5px;

    text-align: center;
    transition: all 0.2s ease-in;

    p {
        font-size: 0.85rem;
        font-weight: bold;

        @include shared.phones {
            font-size: 0.5rem;
        }

        @include shared.tablets {
            font-size: 0.54rem;
        }
    }

    @include shared.phones {
        max-width: 2rem;
        margin: 0 0.2rem;
    }

    @include shared.tablets {
        width: 3rem;
        margin: 0 1rem;
    }
}