.App {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: 100vh;

    background: rgb(39,13,39);
    background: linear-gradient(265deg, rgba(39,13,39,1) 0%, rgba(37,39,60,1) 41%, rgba(39,13,39,1) 100%);
}